.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #25232d;
}

.inner-container {
  background-color: #fff;
  width: 50%;
  height: 80%;
  border-radius: 70px;
  padding: 24px 70px;
}

h1 {
  margin: 0;
}

p {
  margin-top: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-task {
  width: 70%;
  height: 50px;
  border-radius: 24px;
  border: 0;
  background-color: #f5f5f5;
  padding: 5px;
  padding-left: 25px;
  box-shadow: 1px 2px 5px #eaeaea;
}

.button-add {
  width: 20%;
  border: 0;
  border-radius: 24px;
  color: #fff;
  background-color: #c91842;
  font-weight: bold;
  box-shadow: 1px 2px 5px #eaeaea;
}

.button-add:hover {
  cursor: pointer;
  background-color: #a9153f;
}

.list-tasks {
  padding-top: 24px;
}
